<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/myfood"
        android:label="@string/app_name"
        android:roundIcon="@drawable/myfood"
        android:supportsRtl="true"
        android:theme="@style/Theme.HOSPITALFOOD"
        tools:targetApi="31">

        <activity
            android:name="com.example.fms.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.fms.MealsActivity"></activity>
        <activity android:name="com.example.fms.PendingMealsOrderActivity"></activity>
        <activity android:name="com.example.fms.ServedMealActivity"></activity>
        <activity android:name="com.example.fms.WelcomeActivity"></activity>
        <activity android:name="com.example.fms.RegistrationActivity"></activity>
        <activity android:name="com.example.fms.AdminActivity"></activity>
        <activity android:name="com.example.fms.WaitActivity"></activity>

    </application>

</manifest>